# Node Modules
node_modules/

# Output
dist/

# Yarn
yarn.lock

# Images
src/static/bg-nyc.jpg
src/static/bg-sf.jpg
src/static/bg-nyc.png
src/static/bg-sf.png

# Test
src/mock/
src/config/amazonDef.txt
src/config/aws_PRINT_SETTINGS.xml
src/static/Web.config