$yellow: #ff9900;
$darkYellow: #FFB039;
$darkGray: #2F3842;

html, body {
    font-size: 16px;
}

#container {
    height: 100%;
}

.app {
    height: 100vh;
}

.search-box {
    #search-box-input {
        height: 96px;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 21px;
        font-size: 36px;
    }

    span.ant-input-suffix {
        right: 14px;

        i {
            font-size: 74px;
        }
    }
}

.req::after {
    content: '*';
    color: #e74c3c;
}

// ------------- Checkmark SVG styles ---------------------- //

$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 3;
    stroke-miterlimit: 10;
    stroke: $yellow; // white
    fill: none; 
    animation: stroke .6s $curve forwards;
}

.checkmark {
    width: 200px; // 80
    height: 200px; // 80
    border-radius: 50%;
    display: block;
    stroke-width: 3;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 5px auto;
    box-shadow: inset 0px 0px 0px #fff; // white
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 68; /*48*/
    stroke-dashoffset: 68;/*48*/
    animation: stroke .3s $curve .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 100px $yellow; 
  }
} 


// ------------- ANTD Overrides ---------------------- //

a:focus {
    text-decoration: none;
}

.ant-message {
    font-size: 24px !important;

    .anticon {
        font-size: 21px !important;
    }
}

.ant-btn:hover, .ant-btn:focus {
    color: $darkGray;
    border-color: $darkGray;
}

.ant-btn-primary.register-btn {
    padding: 0 28px;
    font-size: 28px;
    height: 64px;
    color: #fff;
    background-color: $darkYellow;
    border-color: $darkYellow;
}

.ant-btn-primary.register-btn:hover, .ant-btn-primary.register-btn:focus {
    background-color: $yellow;
    border-color: $yellow;
    color: #fff;
}

.ant-input-affix-wrapper:hover .ant-input,
.ant-input:hover,
.ant-input:focus {
    border-color: $darkGray;
    box-shadow: none;
}


.ant-input-search-icon:hover {
    color: $darkGray;
}


.ant-switch-checked {
    border-color: $yellow;
    background-color: $yellow;
}

.ant-card-head-title {
    font-size: 18px;
}

.ant-card,
.ant-select-dropdown,
.ant-select-arrow,
.ant-select {
    font-size: 16px;
}