#container {
    height: 100%;
}

.app {
    height: 100vh;
}

.search-box {
    #search-box-input {
        height: 96px;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 21px;
        font-size: 36px;
    }

    span.ant-input-suffix {
        right: 14px;

        i {
            font-size: 74px;
        }
    }
}


.ant-message {
    font-size: 24px !important;

    .anticon {
        font-size: 21px !important;
    }
}

a:focus {
    text-decoration: none;
}

.ant-btn:hover, .ant-btn:focus {
    color: #2F3842;
    border-color: #2F3842;
}

.ant-input-affix-wrapper:hover .ant-input,
.ant-input:hover,
.ant-input:focus {
    border-color: #2F3842;
    box-shadow: none;
}


.ant-input-search-icon:hover {
    color: #2F3842;
}


.ant-switch-checked {
    border-color: #ff9900;
    background-color: #ff9900;
}